<div class="mb-3">
  <%= link_to "Back to semesters", semesters_path %>
</div>

<div class="card">
  <div class="card-header pt-3">
    <h3>Edit semester</h3>
  </div>
  <%= render "form", semester: @semester %>
</div>
