<!--<h1>Semesters List</h1>-->

<div id="semesters">

  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center py-3 px-4">
      <h3 class="m-0"> Semesters List</h3>
      <%= link_to "New semester", new_semester_path, class: "btn btn-primary btn-sm fw-bold" %>
    </div>
    <div class="card-body" id="courses_list">
      <% if @semesters.length < 1 %>
        <div class="text-center text-danger py-3">No semester has been found yet.</div>
      <% end %>
      <% @semesters.each do |semester| %>
        <%= render semester %>
      <% end %>
    </div>
  </div>
</div>
