<h1>Semesters List</h1>

<div id="semesters">
  <% if @semesters.length < 1 %>
    No semester has been found yet.
  <% end %>
  <% @semesters.each do |semester| %>
    <%= render semester %>
  <% end %>
</div>

<%= link_to "New semester", new_semester_path %>
