<div class="card mb-3">
  <div class="card-header">
    <h3>Your Result</h3>
  </div>
  <div class="card-body">
    <div class="accordion mb-4" id="accordionExample">
      <%= render "result/result" %>
    </div>

  </div>

  <div class="card-footer text-muted text-center fw-bold">
    Your total CGPA:
    <% if total_result == 0 %>
      You have to pass every semester
    <% elsif total_result.present? && total_result.to_i > 0 %>
      <%= '%.2f' % total_result %>
    <% else %>
      Result pending
    <% end %>
  </div>
</div>