<ul class="navbar-nav ms-auto mb-2 mb-lg-0 profile-menu">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <div class="profile-pic">
        <img src="https://source.unsplash.com/250x250?girl" alt="Profile Picture">
      </div>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
<!--      <li><a class="dropdown-item" href="#"><i class="fas fa-sliders-h fa-fw"></i> Account</a></li>-->
      <li>
        <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
        <i class="fas fa-cog fa-fw"></i> Settings
      <% end %>
      </li>
<!--      <li>-->
<!--        <hr class="dropdown-divider">-->
<!--      </li>-->
      <li class="text-primary">
        <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "dropdown-item" do %>
          <i class="fas fa-sign-out-alt fa-fw"></i>
          user sign out
        <% end %>

      </li>
    </ul>
  </li>
</ul>