<li class="nav-item">
<!--  <a class="nav-link active" aria-current="page" href="#">Home</a>-->
  <%= link_to "Home", users_dashboard_path, class: "nav-link active" %>
</li>
<li class="nav-item">
<!--  <a class="nav-link" href="#">Link</a>-->
  <%= link_to "Enrolled courses", enrolled_courses_path, class: "nav-link" %>
</li>