<li class="nav-item">
  <%= link_to "Home", users_dashboard_path, class: "nav-link active" %>
</li>
<li class="nav-item">
  <%= link_to "Enrolled courses", enrolled_courses_path, class: "nav-link" %>
</li>
<li class="nav-item">
  <%= link_to "Result", result_path, class: "nav-link" %>
</li>