<section class="light">
  <div class="container py-2">
    <div class="fs-2 text-center mb-4 text-dark">Your Available Courses</div>
    <%= render partial: 'userpanel/search_results', locals: { courses: @courses, enrolled_courses: @enrolled_courses } %>
  </div>
</section>