<section class="light">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
    <div class="fs-3 text-center text-dark">Your Available Courses</div>
    <%= form_with(url: search_courses_path, method: "post", local: true) do %>
      <div class="form-group">
        <%= text_field_tag "query", params[:query], id: "course-search", placeholder: "Search courses...", class: "form-control" %>
      </div>
    <% end %>
    </div>

    <div class="course-list card-body p-3" data-turbo-frame>
      <%= render partial: 'userpanel/courses_list', locals: { courses: @courses, enrolled_courses: @enrolled_courses } %>
    </div>
  </div>
</section>

