<div class="mb-3">
  <%= link_to "Back to courses", courses_path %>
</div>

<div class="card">
  <div class="card-header">
    <h3>Editing course</h3>
  </div>
  <%= render "form", course: @course %>
</div>
<br>
