<h1>New course</h1>
<%= @semesters.length %>
<% if @semesters.length === 0 %>
  <div>No semester found yet</div>
<% elsif @semesters.length > 0 %>
  <%= render "form", course: @course %>
<% end %>
<br>

<div>
  <%= link_to "Back to courses", courses_path %>
</div>
