
<div class="mb-3">
  <%= link_to "Back to courses", courses_path %>
</div>

<% if @semesters.length === 0 %>
  <div class="text-center text-danger py-3">No semester found yet</div>
<% elsif @semesters.length > 0 %>
  <div class="card">
    <div class="card-header">
      <h3>New course</h3>
    </div>
    <%= render "form", course: @course %>
  </div>
<% end %>
<br>
