
.form_login {
  position: relative;
  z-index: 1;
  max-width: 560px;
  margin: 50px auto 0px;
  padding: 45px;
  background: #fff;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  h2 {
    margin-bottom: 15px;
    font-weight: bold;
  }

  .button {
    width: 100% !important;
    margin: 5px 0;
  }


  .field input, .field select {
    //font-family: $font-family;
    width: 100%;
    margin: 0 0 9px !important;
    height: 42px;
    padding: 7px 12px !important;
    outline: 0;
    font-size: 15px;
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 5px;
    background: white;
    display: block;
    text-transform: capitalize;

    ::placeholder {
      color: #90A4AE;
    }
  }
}

