/*
 *= require_tree .
 *= require_self
 */

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

@import "bootstrap";

//config
@import "config/variables";
@import "config/reset";
@import "config/animations";

//components
@import "components/flash";
@import "components/profile_nav";
@import "components/btn";
@import "components/post_card";

body {
  background: #f6f6f6;
}

.card {
  margin-bottom: 15px;
}

.invalid-feedback{
  display: block !important;
}

.is-invalid{
  border-color: #fd4444 !important;
}