<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="#">Home</a>
</li>
<li class="nav-item">
  <%= link_to "Semesters", semesters_path, class: "nav-link" %>
</li>
<li class="nav-item">
  <%= link_to "Courses", courses_path, class: "nav-link" %>
</li>