<div id="<%= dom_id enrolled_course %>">
  <p>
    <strong>Users:</strong>
    <%= enrolled_course.users_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= enrolled_course.course_id %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= enrolled_course.semester_id %>
  </p>

</div>
