<p style="color: green"><%= notice %></p>

<h1>Enrolled courses</h1>

<div id="enrolled_courses">
  <% @enrolled_courses.each do |enrolled_course| %>
    <%= render enrolled_course %>
    <p>
      <%= link_to "Show this enrolled course", enrolled_course %>
    </p>
  <% end %>
</div>

<%#= link_to "New enrolled course", new_enrolled_course_path %>
