<section class="light">
  <div class="container py-2">
    <div class="h1 text-center text-dark" id="pageHeaderTitle">Your Available Courses</div>
    <div id="enrolled_courses">
      <% @enrolled_courses.each do |enrolled_course| %>
        <%= render enrolled_course %>
      <% end %>
    </div>
  </div>
</section>
