<p style="color: green"><%= notice %></p>

<%= render @enrolled_course %>

<div>
<!--  <%#= link_to "Edit this enrolled course", edit_enrolled_course_path(@enrolled_course) %> |-->
  <%= link_to "Back to enrolled courses", enrolled_courses_path %>

  <%= button_to "Destroy this enrolled course", @enrolled_course, method: :delete %>
</div>
